#search-page {
  padding-top: 32px;
  padding-bottom: 64px;
  /* padding-left: 12px;
  padding-right: 12px; */
}

.ant-input {
  background-color: #EEEEEE !important;
}

.ant-input-affix-wrapper {
  background-color: #EEEEEE !important;
  display: flex;
  justify-content: space-between;

}
.ant-input-affix-wrapper::before {
  display: none;
}

.ant-btn.ant-btn-icon-only.ant-input-search-button {
  background-color: #EEEEEE !important;
}

.ant-input-search {
  margin-bottom: 24px;
}

.ant-tabs-tab-btn {
  font-size: medium;
  font-weight: 600;
}

.ant-divider.ant-divider-horizontal {
  margin: 0;
  background-color: grey;
}

.ant-row {
  margin: 0 0 24px 0;
}

.slick-list > .slick-track > div {
  padding: 6px!important;

}

div > h3 {
  padding-left: 6px;
}

.preview-playlist-image {
  width: 100%;
  height: 100%;
}