#search-page {
  padding-top: 32px;
  padding-bottom: 64px;
}

.ant-input {
  background-color: #EEEEEE !important;
}

.ant-input-affix-wrapper {
  background-color: #EEEEEE !important;
}

.ant-btn.ant-btn-icon-only.ant-input-search-button {
  background-color: #EEEEEE !important;
}

.ant-input-search {
  padding: 0% 5% 5% 5%;
  width: 100%;
}

.ant-tabs-tab-btn {
  font-size: medium;
  font-weight: 600;
}

.ant-divider.ant-divider-horizontal {
  margin: 0;
  background-color: grey;
}

.ant-row {
  margin: 0 0 24px 0;
}

.slick-list > .slick-track > div {
  padding: 6px!important;

}
