.clip-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.drop-zone{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .clip-wrapper {
  }
}

