#profile {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ant-avatar {
  padding: 12px 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d3d3d3;
  color: #FFF;
}

.ant-row {
  margin-bottom: 24px;
}

.ant-divider {
  color: red;
  height: 100%;
}

.ant-divider-vertical {
  height: 100%!important;
}

.ant-tabs-nav-list {
  width: 100%;
}

.ant-tabs-tab {
  width: 50%;
  display: block!important;
  font-size: 24px!important;
}