.navbar {
    height:54px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    border-bottom: 1px solid #868686;
    background-color: #ffff;
    padding: 16px 36px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon {
    font-size: 24px;
    cursor: pointer;
}

.icon-setting {
    margin-right: auto;
}

.icon-logout {
    margin-left: auto;
}

.name {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 0;
  max-width: 126px;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
}