.bottom-nav {
  width: 100%;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: fixed;
  height: 8%;
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.08);
}


.bottom-nav-btn {
  color: #000;
  width: 100%;
  display: inline-block;
  font-size: 12px;
  justify-items: center;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.icon-plus {
  cursor: pointer;
  font-size: 32px;
}

.upload-drawer-form {
  padding: 48px;
}

@media only screen and (max-width: 975px) {
  .bottom-nav {
    height: 48px;
  }

  .bottom-nav-btn {
    font-size: 10px;
  }
  .icon-plus {
    font-size: 30px;
  }
}
