.upload-layout {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form {
  padding-top: 48px !important;
}

.ant-input,
.upload-button {
  width: 50vw !important;
  min-width: 250px !important;
}

.upload-button {
  margin-top: 48px;
}

.file-button {
  min-width: 150px;
}

.icon-close {
  margin-right: auto;
}

@media only screen and (max-width: 975px) {
  .ant-btn:first-of-type {
    margin-right: 0px;
  }
}
