body {
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.drawer-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 975px) {
  .drawer-wrapper {
    width: 975px;
  }
}


video {
  /* aspect-ratio: 9/16; */
  /* width: 250px;
  aspect-ratio: auto 250 / 444.44;
  height: 444.44px; */
}
